@font-face {
	font-family: 'Alumni Sans'; 
	src: url(fonts/AlumniSans-Regular.ttf)
	format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Sarpanch'; 
	src: url(fonts/Sarpanch-Regular.ttf)
	format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #f0f0f0;
    padding: 0px 0;
    text-align: center;
}

nav {
	display:inline-flex;
    background-color: #00899D;
    top: 0;
    left: 0;
    width: 100%;
    position: sticky;
    justify-content: space-around;
    flex-wrap: wrap;
	text-align: center;
    align-items: center;
}

body {
	font-family: "Alumni Sans", sans-serif;
	font-size: 20px;
}

.first-ul li {
	display: inline;
	margin-right: 10px;
}

H1 {
	text-align: center;
}

p {
	text-align: center;
}

.first-ul li a {
	list-style: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
	font-family: 'Sarpanch', sans-serif;
    margin-right: 20px;
}

.second-ul {
    margin-left: 40px;
	margin-right: 20px;
    list-style-type: none;
    padding: 0;
	text-align: center;
}

.btn1:hover {
	font-weight: bolder;
}
.btn2:hover {
	font-weight: bolder;
}
.btn3:hover {
	font-weight: bolder;
}
.btn4:hover {
	font-weight: bolder;
}

.second-ul li {
    display: inline;
	flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 50px;
}

.second-ul li a {
	font-size: 25px;
	font-family: "Alumni Sans", sans-serif;
    color: white;
    text-decoration: none;
}

.third-ul {
	margin-left: auto;
	margin-right: 40px;
    list-style-type: none;
    padding: 0;
}

.third-ul li {
	display: inline;
    flex-wrap: wrap;
	margin-right: 10px;
}

.image-button {
  width: 50px;
  height: 50px;
  border: none;
  background-image: url('log.svg');
  background-color: transparent;
  background-size: cover;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}


.top-menu {

}


.footer-blocks {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

.footer-block {
    padding: 10px 20px;
	flex: 1;
}

.copyright {
    margin-top: 20px;
}